
.csbill-money {
    float: right;
    margin-right: 20px;
}
.csbill-remark{
    margin-top:10px;
    margin-left:20px;
}



/* 大屏幕 ：大于等于1200px*/
@media (min-width: 1200px) {
    .app {
        background-color: aliceblue;
    }
}

/*默认*/
@media (min-width: 980px) {
    .app {
        background-color: aqua;
    }
}

/* 平板电脑和小屏电脑之间的分辨率 */
@media (min-width: 768px) and (max-width: 979px) {
    .app {
        background-color: antiquewhite;
    }
}

/* 横向放置的手机和竖向放置的平板之间的分辨率 */
@media (max-width: 767px) {
    .app {
        background-color: beige;
    }
}

/* 横向放置的手机及分辨率更小的设备 */
@media (max-width: 480px) {
    .app {
        background-color: blueviolet;
    }
}



.cs-color {
    color: aqua;
}

.csrow {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.cscol-1, .cscol-2, .cscol-3, .cscol-4, .cscol-5, .cscol-6, .cscol-7, .cscol-8, .cscol-9, .cscol-10, .cscol-11, .cscol-12, .cscol,
.cscol-auto, .cscol-sm-1, .cscol-sm-2, .cscol-sm-3, .cscol-sm-4, .cscol-sm-5, .cscol-sm-6, .cscol-sm-7, .cscol-sm-8, .cscol-sm-9, .cscol-sm-10, .cscol-sm-11, .cscol-sm-12, .cscol-sm,
.cscol-sm-auto, .cscol-md-1, .cscol-md-2, .cscol-md-3, .cscol-md-4, .cscol-md-5, .cscol-md-6, .cscol-md-7, .cscol-md-8, .cscol-md-9, .cscol-md-10, .cscol-md-11, .cscol-md-12, .cscol-md,
.cscol-md-auto, .cscol-lg-1, .cscol-lg-2, .cscol-lg-3, .cscol-lg-4, .cscol-lg-5, .cscol-lg-6, .cscol-lg-7, .cscol-lg-8, .cscol-lg-9, .cscol-lg-10, .cscol-lg-11, .cscol-lg-12, .cscol-lg,
.cscol-lg-auto, .cscol-xl-1, .cscol-xl-2, .cscol-xl-3, .cscol-xl-4, .cscol-xl-5, .cscol-xl-6, .cscol-xl-7, .cscol-xl-8, .cscol-xl-9, .cscol-xl-10, .cscol-xl-11, .cscol-xl-12, .cscol-xl,
.cscol-xl-auto {
    /*border: 1px solid;*/
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}


/*.cscol-1 {
    max-width: 33%;
}

.cscol-2 {
    max-width: 16.666667%;
}

.cscol-3 {
    max-width: 25%;
}

.cscol-4 {
    max-width: 33.333333%;
}

.cscol-5 {
    max-width: 33%;
}

.cscol-6 {
    max-width: 33%;
}

.cscol-7 {
    max-width: 33%;
}

.cscol-8 {
    max-width: 33%;
}

.cscol-9 {
    max-width: 33%;
}

.cscol-10 {
    max-width: 33%;
}

.cscol-11 {
    max-width: 33%;
}

.cscol-12 {
    max-width: 33%;
}*/

/*@media (min-width: 1200px) {
    .cscol-xl-1 {
        max-width: 33%;
    }

    .cscol-xl-2 {
        max-width: 16.666667%;
    }

    .cscol-xl-3 {
        max-width: 25%;
    }

    .cscol-xl-4 {
        max-width: 33.333333%;
    }

    .cscol-xl-5 {
        max-width: 33%;
    }

    .cscol-xl-6 {
        max-width: 33%;
    }

    .cscol-xl-7 {
        max-width: 33%;
    }

    .cscol-xl-8 {
        max-width: 33%;
    }

    .cscol-xl-9 {
        max-width: 33%;
    }

    .cscol-xl-10 {
        max-width: 33%;
    }

    .cscol-xl-11 {
        max-width: 33%;
    }

    .cscol-xl-12 {
        max-width: 33%;
    }
}*/

@media (max-width: 480px) {
    /*.cscol-sm-1 {
        max-width: 33%;
    }

    .cscol-sm-2 {
        max-width: 33%;
    }*/

    .cscol-sm-3 {
        max-width: 25%;
    }

    .cscol-sm-4 {
        max-width: 33.333333%;
    }

   /* .cscol-sm-5 {
        max-width: 33%;
    }*/

    .cscol-sm-6 {
        max-width: 50%;
    }

    /*.cscol-sm-7 {
        max-width: 33%;
    }

    .cscol-sm-8 {
        max-width: 33%;
    }*/

    .cscol-sm-9 {
        max-width: 75%;
    }

    /*.cscol-sm-10 {
        max-width: 33%;
    }

    .cscol-sm-11 {
        max-width: 33%;
    }*/

    .cscol-sm-12 {
        max-width: 100%;
    }
}
