@*弹窗*@
<div class="modal" id="addBillModal" tabindex="-1" role="dialog" aria-labelledby="addBillModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            @* 头 *@
            <div class="modal-header">
                <h5 class="modal-title">Add Bill</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @* 身 *@
            <div class="modal-body">

                <div class="input-group">
                    <div class="input-group-prepend" style="width:40%">
                        <span class="input-group-text" style="width:100%" id="billLabelText">Label</span>
                    </div>
                    <select class="form-control" id="billLabel" style="width:60%">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>

                <div class="input-group csMT-10">
                    <div class="input-group-prepend" style="width:40%">
                        <span class="input-group-text" style="width:100%" id="billMoneyText">Money</span>
                    </div>
                    <input type="text" class="form-control" id="billMoney" aria-label="Dollar amount (with dot and two decimal places)">
                </div>

                <div class="input-group csMT-10">
                    <div class="input-group-prepend" style="width:40%">
                        <span class="input-group-text" style="width:100%" id="billRemarkText">Remark</span>
                    </div>
                    <input type="text" class="form-control" id="billRemark">
                </div>


            </div>
            @*脚*@
            <div class="modal-footer">
                <button id="billAddModelCloseBtn" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                <button id="billAddModelDeleteBtn" class="btn btn-danger">Delete</button>

                <button id="billSave" type="button" class="btn btn-primary">Save</button>
            </div>

        </div>
    </div>
</div>