<nav id="csnavFoot" class="navbar csbg-orange-2 fixed-bottom justify-content-center">
    <div class="btn-group btn-lg btn-block" role="group" aria-label="Basic example">
        <a class="btn csbg-orange-2 text-white" href="/bill/analyse">统计</a>
        <a class="btn csbg-orange-2 text-white" href="/bill/index">详情</a>
        <a class="btn csbg-orange-2 text-white" href="/bill/home">设置</a>
    </div>  
</nav>