<div class="csFoot">
    <ul class="layui-nav" lay-filter="">
        <li class="layui-nav-item"><a href="/bill/analyse"><i class="csText-23 layui-icon layui-icon-form"></i></a></li>
        <li class="layui-nav-item layui-this"><a href="/bill/index"><i class="csText-23 layui-icon layui-icon-log"></i></a></li>
        <li class="layui-nav-item"><a href="/bill/add"><i class="csText-23 layui-icon layui-icon-add-1"></i></a></li>
        <li class="layui-nav-item"><a href="/bill/home"><i class="csText-23 layui-icon layui-icon-username"></i></a></li>
    </ul>
</div>