@{
    ViewData["Title"] = "Bill Page";
}

<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<div id="app">
    {{ message }}
    {{obj}}
    <button class="btn btn-primary" v-on:click="val">dian</button>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>用户ID</th>
                <th>钱</th>
                <th>备注</th>
                <th>标签</th>
            </tr>
        </thead>
        <tr v-for="o in obj">
            <td>{{o.id}}</td>
            <td>{{o.userID}}</td>
            <td>{{o.money}}</td>
            <td>{{o.remark}}</td>
            <td>{{o.lable}}</td>
        </tr>
    </table>
</div>
<script>
    var data = { message: "Hello Vue!", obj: "" };
    var app = new Vue({
        el: '#app',
        data: data,
        methods: {
            val: function () {
                $.ajax({
                    url: "/api/values/getbills?id=1",
                    date: "",
                    dateType: "json",
                    type: "get"
                }).done(function (ret) {
                    console.log(ret);
                    data.obj = JSON.parse(JSON.stringify(ret));
                    //JSON.parse(data.obj);
                })
            }
        }
    })
    
</script>