@{
    ViewData["Title"] = "Bill Page";
}

@* 头 *@
<nav id="csnavHead" class="navbar fixed-top csbg-orange-2 justify-content-center" style="text-align:center">
    <div class="btn-group btn-lg btn-block" role="group" aria-label="Basic example">
        <a class="btn csbg-orange-2 text-white" href="#"></a>
        <a class="btn csbg-orange-2 text-white" href="#">Code-Shuai</a>
        <a class="btn csbg-orange-2 text-white" href="#"></a>
    </div>
</nav>


@*身体*@
<div id="csMain" class="container" style="">
    @*内容*@

    <button class="btn btn-light btn-lg btn-block" id="addBillBtn"  data-toggle="modal" data-target="#addBillModal"><i class="fa fa-plus cstext-orange-2" style="font-size:30px;"></i></button>
    <div id="billData">

    </div>
    @*加载*@
    <div>
        <a id="loadMoreData" href="#">加载更多</a>
    </div>
</div>




@*底部*@

@Html.Partial("_billFoot")

@Html.Partial("_billAddModel")

<div class="text-danger h3"></div>
<script>
    //初始化
    $(function () {


        var csnavHeadHeight = $("#csnavHead").outerHeight();
        $("#csMain").css({ "margin-top": csnavHeadHeight + 10, "margin-bottom": csnavHeadHeight + 10 })

        var pageIndex = 0;
        $("#billData").empty();
        LoadData(pageIndex);
        $("#loadMoreData").click(function () {
            pageIndex++;
            LoadData(pageIndex);
        })
        $("#addBillBtn").click(function () {
            LoadLabel();
            $("#billAddModelDeleteBtn").hide();
        })
        $("#billSave").click(function () {
            AddBill();
        })
        $("#billAddModelDeleteBtn").click(function () {
            DeleteBill();
        })
    })
</script>
