@{
    ViewData["Title"] = "Bill Page";
}



@Html.Partial("_billHead")
<div class="csMain">
    <div class="layui-row">
        <div class="layui-col-xs10 layui-col-xs-offset1">
            <ul class="flow-default" @*style="height: 300px;"*@ id="billData"></ul>
        </div>
    </div>
</div>
@Html.Partial("_billFoot")


<div style=""></div>





@*底部*@

<script>
    layui.use('flow', function () {
        var billAddTimeA = '';
        var userId = getCookie('userAccount');
        var pageSize = 20;
        var flow = layui.flow;
        flow.load({
            elem: '#billData' //流加载容器
            , scrollElem: '#billData' //滚动条所在元素，一般不用填，此处只是演示需要。
            , isAuto: false
            , isLazyimg: true
            , done: function (page, next) { //加载下一页

                var lis = [];
                ///values/getbills ? pageIndex = " + pageIndex + " & pageSize=" + pageSize + " & id=" + userId,
                //以jQuery的Ajax请求为例，请求下一页数据（注意：page是从2开始返回）
                $.get("/Values/GetBills?pageIndex=" + page + "&pageSize=" + pageSize + "&id=" + userId
                    , function (res) {
                        res = JSON.parse(res);
                        var billDataToHtml = '<ul class="layui-timeline">';
                        var billAddTime = '';
                        //假设你的列表返回在data集合中
                        layui.each(res.data, function (index, item) {
                            var thisAddTime = new Date(item.AddTime);
                            var strThisAddTime = thisAddTime.getFullYear() + '.' + thisAddTime.getMonth() + '.' + thisAddTime.getDate();
                            if (index == res.length) {
                                //billAddTimeA = strThisAddTime;
                            }
                            //if (billAddTimeA = billAddTime && billAddTimeA != '') {
                            //    $("#" + billAddTimeA).append(
                            //        '<li><span>' +
                            //        (item.Remark == "" || item.Remark == null ? item.LabelName : item.Remark) +
                            //        '</span><span>' + item.Money + '</span></li>'
                            //    )
                            //} else {


                            if (billAddTime == "") {
                                billAddTime = strThisAddTime;
                                billDataToHtml +=
                                    '<li class="layui-timeline-item">' +
                                    '<i class="layui-icon layui-timeline-axis">&#xe63f;</i>' +
                                    '<div class="layui-timeline-content layui-text">' +
                                    '<h3 class="layui-timeline-title">' + strThisAddTime + '</h3>' +
                                    '<div id="' + billAddTime + '">'
                            } else if (billAddTime != strThisAddTime) {
                                billAddTime = strThisAddTime;
                                billDataToHtml +=
                                    '</div></li><li class="layui-timeline-item">' +
                                    '<i class="layui-icon layui-timeline-axis">&#xe63f;</i>' +
                                    '<div class="layui-timeline-content layui-text">' +
                                    '<h3 class="layui-timeline-title">' + strThisAddTime + '</h3>' 
                                    
                            }

                            billDataToHtml +=
                                '<div class="csMT-10"><i class="iconfont ' + item.LabelCode + '"></i>' +
                                '<span class="csML-20">' +
                                (item.Remark == "" || item.Remark == null ? item.LabelName : item.Remark) +
                                '</span><span style="float:right;margin-right:10px;">-' + item.Money + '</span></div>';

                            //}

                        });
                        billDataToHtml +=
                            '</div></li><li class="layui-timeline-item">' +
                            '<i class="layui-icon layui-timeline-axis">&#xe63f;</i>' +
                            '<div class="layui-timeline-content layui-text">' +
                            '<div class="layui-timeline-title">过去</div>' +
                            '</div>' +
                            '</li>' +
                            '</ul>';
                        lis.push(billDataToHtml);

                        //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
                        //pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
                        next(lis.join(''), page < res.pages);
                    })
            }
        });


    });





    ////初始化
    //$(function () {


    //    var csnavHeadHeight = $("#csnavHead").outerHeight();
    //    $("#csMain").css({ "margin-top": csnavHeadHeight + 10, "margin-bottom": csnavHeadHeight + 10 })

    //    var pageIndex = 0;
    //    $("#billData").empty();
    //    LoadData(pageIndex);
    //    $("#loadMoreData").click(function () {
    //        pageIndex++;
    //        LoadData(pageIndex);
    //    })
    //    $("#addBillBtn").click(function () {
    //        LoadLabel();
    //        $("#billAddModelDeleteBtn").hide();
    //    })
    //    $("#billSave").click(function () {
    //        AddBill();
    //    })
    //    $("#billAddModelDeleteBtn").click(function () {
    //        DeleteBill();
    //    })
    //})
</script>
