
@{
    ViewData["Title"] = "Login";
}
<style>

    .csJZA {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .csJZ {
        width:80%;
        height: 300px;
        margin: 0 auto; /*水平居中*/
        top: 50%;
        position: relative;
        margin-top:-150px;
    }
</style>
<div class="csJZA">
    <div class="layui-card csJZ">
        <div class="layui-card-header">用户登录</div>
        <div class="layui-card-body">
            <form class="layui-form layui-form-pane" action="">
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="layui-icon layui-icon-username"></i></label>
                    <div class="layui-input-block">
                        <input type="text" name="title" autocomplete="off" placeholder="请输入用户名" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="layui-icon layui-icon-password"></i></label>
                    <div class="layui-input-block">
                        <input type="password" name="password" placeholder="请输入密码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <input type="checkbox" name="" title="记住" checked lay-filter="remember">
                </div>
                <div class="layui-form-item">
                    <div class="@*layui-input-block*@">
                        <button type="submit" class="layui-btn layui-btn-fluid" lay-submit="" lay-filter="login">立即提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;


        //监听提交
        form.on('submit(login)', function (data) {
            var checkVal = this.form[2].checked;
            var user = {};
            user.Account = this.form[0].value;
            user.Password = this.form[1].value;

            $.ajax({
                url: "/values/Login",
                data: user,
                dataType: "json",
                type: "POST"
            }).done(function (returnData) {
                if (returnData == '1001') {
                    if (checkVal) {
                        setCookie('userAccount', user.Account, 360);
                    } else {
                        setCookie('userAccount', user.Account, 0);
                    }
                    window.location.href = '/bill/index';
                }
            })
            return false;
        });

    });
</script>
